<app-composer-link-preview [text]="inputText"></app-composer-link-preview>

@if (replyTo(); as reply) {
  <div class="composer__reply-banner">
    @if (reply.mediaThumbnail) {
      <img [src]="reply.mediaThumbnail" class="composer__reply-thumb" alt="Thumbnail" />
    }
    <div class="composer__reply-info">
      <div class="composer__reply-header">
        <ion-icon name="return-up-back-outline"></ion-icon>
        <span class="composer__reply-label">{{ 'composer.replyingTo' | translate }} <strong>{{ reply.senderHandle || reply.senderDid }}</strong></span>
      </div>
      <div class="composer__reply-snippet">{{ reply.textSnippet }}</div>
    </div>
    <button
      class="composer__reply-cancel"
      type="button"
      (click)="cancelReply.emit()"
      [attr.aria-label]="'common.cancel' | translate"
    >
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>
}

<div class="composer">
  <button
    class="composer__attach composer__attach--plus"
    type="button"
    [disabled]="disabled()"
    (click)="openAttachMenu($event)"
    [attr.aria-label]="'composer.add_action' | translate"
  >
    <ion-icon name="add"></ion-icon>
  </button>
  <button
    class="composer__attach composer__attach--gif"
    type="button"
    [disabled]="disabled()"
    (click)="openGifPicker()"
    [attr.aria-label]="'composer.gif' | translate"
  >
    <span>GIF</span>
  </button>
  <ion-textarea
    class="composer__input"
    autoGrow="true"
    rows="1"
    [placeholder]="'composer.placeholder' | translate"
    [attr.aria-label]="'composer.placeholder' | translate"
    [value]="inputText"
    [disabled]="disabled()"
    (ionInput)="onInputChange($event)"
    (keydown)="onKeydown($event)"
  ></ion-textarea>
  <button
    class="composer__send"
    type="button"
    [disabled]="disabled() || !inputText.trim()"
    (click)="onSend()"
    [attr.aria-label]="'composer.send' | translate"
  >
    <ion-icon name="send"></ion-icon>
  </button>
</div>

<ion-popover
  class="composer-attach-popover"
  [isOpen]="attachMenuOpen()"
  [event]="attachEvent"
  (didDismiss)="attachMenuOpen.set(false)"
  dismissOnSelect="true"
>
  <ng-template>
    <div class="composer-popover">
      <button type="button" class="composer-popover__item" (click)="openPlacePicker()">
        <span class="composer-popover__icon-wrap">
          <ion-icon name="location-outline"></ion-icon>
        </span>
        <span class="composer-popover__label">{{ 'composer.place' | translate }}</span>
      </button>
    </div>
  </ng-template>
</ion-popover>

<app-gif-picker
  [isOpen]="gifPickerOpen()"
  (closed)="onGifPickerClosed()"
  (gifSelected)="onGifSelected($event)"
></app-gif-picker>

<app-place-picker-modal
  [isOpen]="placePickerOpen()"
  (closed)="onPlacePickerClosed()"
  (placeSelected)="onPlaceSelected($event)"
></app-place-picker-modal>
