<div class="composer">
  <ion-textarea
    class="composer__input"
    autoGrow="true"
    rows="1"
    [placeholder]="'composer.placeholder' | translate"
    [attr.aria-label]="'composer.placeholder' | translate"
    [value]="inputText"
    [disabled]="disabled"
    (ionInput)="onInputChange($event)"
    (keydown)="onKeydown($event)"
  ></ion-textarea>
  <button
    class="composer__send"
    type="button"
    [disabled]="disabled || !inputText.trim()"
    (click)="onSend()"
    [attr.aria-label]="'composer.send' | translate"
  >
    <ion-icon name="send"></ion-icon>
  </button>
</div>
