<ion-modal [isOpen]="isOpen" (didDismiss)="closeModal()" class="members-modal">
  <ng-template>
    <div class="modal-wrapper">
      <div class="modal-header">
        <h2 class="modal-title">{{ 'conversation.members_title' | translate }}</h2>
        <button class="close-btn" (click)="closeModal()" [attr.aria-label]="'common.close' | translate">
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <div class="member-list">
        @for (member of members; track member.did) {
          <div class="member-row">
            <app-avatar [src]="member.avatarUrl" [handle]="member.handle" size="md"></app-avatar>
            <div class="member-info">
              <span class="member-name">
                {{ member.displayName || member.handle }}
                @if (member.did === selfDid) {
                  &nbsp;&middot; {{ 'conversation.you_label' | translate }}
                }
              </span>
              <span class="member-handle">&#64;{{ member.handle }}</span>
            </div>
          </div>
        }
      </div>
    </div>
  </ng-template>
</ion-modal>
