<ion-modal [isOpen]="isOpen" (didDismiss)="closeModal()" class="members-modal">
  <ng-template>
    <div class="modal-wrapper">
      <div class="modal-header">
        <h2 class="modal-title">{{ 'conversation.members_title' | translate }}</h2>
        <button class="close-btn" (click)="closeModal()" [attr.aria-label]="'common.close' | translate">
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <div class="group-name-section">
        @if (isEditing()) {
          <div class="name-edit-form">
            <input
              type="text"
              class="name-input"
              [(ngModel)]="editNameValue"
              placeholder="Nom du groupe..."
              (keyup.enter)="saveName()"
            />
            <button class="save-name-btn" (click)="saveName()" type="button">
              <ion-icon name="checkmark-outline"></ion-icon>
            </button>
          </div>
        } @else {
          <div class="name-display">
            <span class="group-name-text">{{ groupName || 'Nom du groupe non défini' }}</span>
            <button class="edit-name-btn" (click)="startEditing()" type="button" title="Renommer le groupe">
              <ion-icon name="create-outline"></ion-icon>
            </button>
          </div>
        }
      </div>

      <div class="member-list">
        @for (member of members; track member.did) {
          <div class="member-row">
            <app-avatar [src]="member.avatarUrl" [handle]="member.handle" size="md"></app-avatar>
            <div class="member-info">
              <span class="member-name">
                {{ member.displayName || member.handle }}
                @if (member.did === selfDid) {
                  &nbsp;&middot; {{ 'conversation.you_label' | translate }}
                }
              </span>
              <span class="member-handle">&#64;{{ member.handle }}</span>
            </div>
          </div>
        }
      </div>
    </div>
  </ng-template>
</ion-modal>
