<div class="ss-header">
  <button class="ss-back" (click)="goBack()" [attr.aria-label]="'common.back' | translate">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </button>
  <h1>{{ 'privacy.settings.title' | translate }}</h1>
</div>

<ion-content>
  <div class="ss-content">
    <div class="ss-section">
      <div class="ss-block">
        <button class="settings-row" (click)="openBadge()">
          <ion-icon name="eye-outline" class="settings-row__icon"></ion-icon>
          <span class="settings-row__label">{{ 'privacy.settings.badge_row' | translate }}</span>
          <ion-icon name="chevron-forward-outline" class="settings-row__chevron"></ion-icon>
        </button>
        <button class="settings-row" (click)="openEmbeds()">
          <ion-icon name="link-outline" class="settings-row__icon"></ion-icon>
          <span class="settings-row__label">{{ 'privacy.settings.embeds_row' | translate }}</span>
          <ion-icon name="chevron-forward-outline" class="settings-row__chevron"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</ion-content>
